<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Login.Properties.Settings.BancoVeterináriaConnectionString"
            connectionString="Data Source=DESKTOP-488OEO7;Initial Catalog=BancoVeterinária;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Login.Properties.Settings.BancoVeterinariaConnectionString"
            connectionString="Data Source=DESKTOP-488OEO7;Initial Catalog=BancoVeterinaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>