<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sistema.dal.Properties.Settings.bancovetConnectionString"
            connectionString="Data Source=DESKTOP-488OEO7;Initial Catalog=bancovet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>